<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&display=swap" rel="stylesheet" />
    <title>{% block title %}My App{% endblock %}</title>
</head>
<body>
    <div id="particles-js"></div>
      <div id="status" class="status" style="display: none;"></div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}
</body>
 <!-- Particle.js script -->
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script>
    particlesJS.load('particles-js', '/static/particles.json', function () {
      console.log('particles.js config loaded');
    });
  </script>
</html>